ul#releaseNotesList
  li v0.2.7<br />
    b.red-text(style="font-size: 0.9rem") Please update your PointsSystem module before accessing ANY commands
    ul
      li Changed the "Custom Commands" panel to the "Commands" panel. You can now modify properties of built-in commands.
      li Added new $title variable. See Variables panel for details
      li Added new $game variable. See Variables panel for details
      li Fixed another issue with auto updater
      li Fixed error on boot when trying to delete log files that didn't exist

  li v0.2.6
    ul
      li Add more robust logging to make debugging easier

  li v0.2.5
    ul
      li Quck hotfix to allow dev console to be accessible
      
  li v0.2.4
    ul
      li Added first cut of a Variables documentation panel. Not the prettiest but it works for now
      li Fixed an issue with loading modules where if no commands, variables, etc were defined WT would crash
      li Minor fixes for various bugs

  li v0.2.3
    ul
      li Added release notes dialog
      li Added much more robust error handling
      li Started adding foundation for allowing modules to depend on each other
      li Fixed a minor issue with auto updater

  li v0.2.2
    ul
      li Fixed a breaking bug where app wouldn't load if modules folder was MIA