ul#releaseNotesList
  li v0.2.4
    ul
      li Added first cut of a Variables documentation panel. Not the prettiest but it works for now
      li Fixed an issue with loading modules where if no commands, variables, etc were defined WT would crash
      li Minor fixes for various bugs

  li v0.2.3
    ul
      li Added release notes dialog
      li Added much more robust error handling
      li Started adding foundation for allowing modules to depend on each other
      li Fixed a minor issue with auto updater

  li v0.2.2
    ul
      li Fixed a breaking bug where app wouldn't load if modules folder was MIA